{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Test saxifa</title>
</head>
<body>
	<br><br><br><br><br><br>
	<h1>
		Test saxifa
[30/Aug/2023 20:28:54] "GET / HTTP/1.1" 200 46049
[30/Aug/2023 20:28:57] "GET / HTTP/1.1" 200 46049
[30/Aug/2023 20:28:58] "GET /test/ HTTP/1.1" 200 8654
[30/Aug/2023 20:29:18] "GET /test/ HTTP/1.1" 200 8654
[30/Aug/2023 20:29:19] "GET /test/ HTTP/1.1" 200 8654
[30/Aug/2023 20:29:19] "GET /test/ HTTP/1.1" 200 8654
[30/Aug/2023 20:29:19] "GET /test/ HTTP/1.1" 200 8654
[30/Aug/2023 20:29:20] "GET /test/ HTTP/1.1" 200 8654
[30/Aug/2023 20:29:31] "GET /test/ HTTP/1.1" 200 8640</h1>
</body>
</html>
{% endblock content %}